$bgoscuro: rgba(14, 13, 13, 0.842);
$fuentearial: arial;
$color-negro: rgba(0, 0, 0, 0.852);
$fuente-clara: rgb(167, 144, 158);
$bgclaro: rgba(255, 192, 203, 0.509);
$fondo-lila: rgba(128, 0, 128, 0.119)

